nav {
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 13px;
    border: #1071FF 2px solid;
    width: 100%;
    height: 34px;
}

a.button1 {
    position: fixed;
    background-color: #FFF;
    width:102px;
    height: 30px;
    top: 6px;
    text-align:center;
    display:block;
    font-family: arial;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #1071FF 1px solid;
    color: #1071FF;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 200px;
    transition: .5s;
    border-radius: 0px;
  } 
  a.button1:hover { 
    /*top: 5px;*/
    transition: .5s;
    color: #10FF58;
    border: #10FF58 1px solid;
    border-radius: 10px;
  }