#news {
    list-style-type: none; 
    margin: 100px;
    margin-bottom: 0px; 
    padding: 0; 
    padding-bottom: 0px;
    overflow: scroll;
    height: 700px;
    border: #1071FF 1px solid; 
}

#new {
    padding: 5px;
    border: #1071FF 1px solid; 
}

p {
    font-size: 20px;
}