/* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}*/
body { 
    font: 13px Helvetica, Arial; 
}
form {
    /*background: #000;*/ 
    border: #1071FF 1px solid;
    padding: 3px; 
    padding-right: 25px;
    position: relative; 
    margin: 100px;
    margin-bottom: 0px;
    margin-top: 0px;  
    /*width: 90%;*/
}
form input {
    border: #1071FF 1px solid; 
    padding: 10px;
    width: 100%;
}
#messages { 
    list-style-type: none; 
    margin: 100px; 
    margin-bottom: 50px;
    padding: 0px;
    padding-bottom: 0px;
    overflow: scroll; 
    height: 600px;
    border: #1071FF 1px solid; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}